{% load i18n %}

<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    {% block extra_head %}

    {% endblock extra_head %}
</head>

<body>
    {% block body %}
        {# Messages section #}
            {% if messages %}
            <div>
                <strong>{% trans "Messages:" %}</strong>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {# End messages section #}

        {# Menu section #}
        {% include 'components/navbar.html' %}
        {# End menu section #}

        {# Content block #}

            {% block content %}
            
            {% endblock content %}

        {# End content block #}

    {% endblock body %}

    {# Extra body block #}
    
        {% block extra_body %}
    
        {% endblock extra_body %}

    {# End extra body block #}
</body>

</html>
