<!-- .html -->

{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Article List
{% endblock title %}

{% block content %}
<h1 class="header-blog">
    Article List
</h1>
<div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Date Created</th>
        </tr>
      </thead>
      <tbody>
        {% for content in contents %}

        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td scope="col">
            <a href="{% url 'blog:article_detail' pk=content.pk %}">
              {{ content.title }}
            </a>
          </td>
          <td scope="col">{{ content.author }}</td>
          <td scope="col">{{ content.date_created }}</td>
        </tr>
        {% endfor %}        
      </tbody>
    </table>
</div>
{% endblock content %}