<!doctype html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Your Profile
{% endblock title %}


{% block content %}
<div>
    <h2 class="header-blog">
        Profile {{ request.user.username }}
    </h2>

    <div class="container" style="padding-bottom: 0.5cm;margin-bottom: 0.5cm;border-bottom-width: 2px; border-bottom-color: black; border-bottom-style: dashed;" style="margin-bottom: 0.5cm;">
        <div class="row">
            <div class="col-4">
                <img src="">
            </div>
            <div class="col-2">
                <a>
                    Hallo
                </a>
            </div>
            <div class="col-6">
                <div class="row">
                    <a>
                        {{ request.user.username }}
                    </a>
                    <a>
                        a{{ request.user.email }}
                    </a>
                    <a>
                        a{{ request.user.phone_number }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Date Created</th>
              </tr>
            </thead>
            <tbody>
              {% for article in user_articles %}
      
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td scope="col">
                  <a href="{% url 'blog:article_detail' pk=content.pk %}">
                    {{ article.title }}
                  </a>
                </td>
                <td scope="col">{{ article.date_created }}</td>
              </tr>
              {% endfor %}        
            </tbody>
          </table>
    </div>

</div>
{% endblock content %}