{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    Create Users
{% endblock title %}


{% block content %}
<div class="main container container-fluid">
    <h2 class="header-blog">
        {% trans "Register" %}
    </h2>
    
    <!-- Create a Form -->
    <form class="form-with-validation" method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
 
        <!-- form as paragraph -->
        {{ form | crispy }}
        
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <input class="btn btn-outline-success" type="submit" value="Submit">
            </li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item">
                <a href="{% url 'home' %}" class="btn btn-outline-danger">
                    Go Back
                </a>
            </li>
        </ul>
    </form>
    <br>
    <p>
        {% trans "Already have an account?" %}
        <a href="{% url 'account_login' %}">{% trans "Log In" %}</a>
    </p>
</div>
{% endblock content %}
    