{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Create Users
{% endblock title %}


{% block content %}
<div class="main container container-fluid">
    <h2 class="header-blog">
        Create User
    </h2>
    
    <!-- Create a Form -->
    <form class="form-with-validation" method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
 
        <!-- form as paragraph -->
        {{ form | crispy }}
 
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</div>
{% endblock content %}
    