<!-- detail_view.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Detail</title>
</head>
<body>
    <div class="main">
        <h1>Article Detail</h1>
        <ul>
            <li>
                <strong>Title:</strong> {{ article.title }}<br>
                <strong>Categories:</strong> {{ article.categories }}<br>
                <strong>Tags:</strong> {{ article.tags }}<br>
                <strong>Author:</strong> {{ article.author }}<br>
                <strong>Date Created:</strong> {{ article.date_created }}<br>
                <strong>Content:</strong> {{ article.content }}<br>
            </li>
        </ul>
    </div>
</body>
</html>