<!-- list_view.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Articles</title>
</head>
<body>
    <div class="main">
        <h1>List of Articles</h1>
        <ul>
            {% for article in articles %}
                <li>
                    <strong>Title:</strong> {{ article.title }}<br>
                    <strong>Categories:</strong> {{ article.categories }}<br>
                    <strong>Tags:</strong> {{ article.tags }}<br>
                    <strong>Author:</strong> {{ article.author }}<br>
                    <strong>Date Created:</strong> {{ article.date_created }}<br>
                    <strong>Content:</strong> {{ article.content }}<br>
                </li>
                <br/>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
